<mat-sidenav class="gap-2" mode="side" opened color="primary" style="  background-color: #061019;">
  <mat-list>
    <mat-list-item>
      <a class="text-white" mat-button routerLink="home" routerLinkActive="active"><mat-icon>home</mat-icon>Inicio</a>
    </mat-list-item>
    <mat-list-item>
      <a class="text-white" mat-button routerLink="user" routerLinkActive="active"><mat-icon>person</mat-icon>Usuarios</a>
    </mat-list-item>
    <mat-list-item>
      <a class="text-white" mat-button routerLink="category" routerLinkActive="active"><mat-icon>dashboard</mat-icon>Categorias</a>
    </mat-list-item>
    <mat-list-item>
      <a class="text-white" mat-button routerLink="client" routerLinkActive="active"><mat-icon>people</mat-icon>Clientes</a>
    </mat-list-item>
    <mat-list-item>
      <a class="text-white" mat-button routerLink="product" routerLinkActive="active"><mat-icon>work</mat-icon>Productos</a>
    </mat-list-item>
    <mat-list-item>
      <a class="text-white" mat-button routerLink="sale" routerLinkActive="active"><mat-icon>attach_money</mat-icon>Ventas</a>
    </mat-list-item>
  </mat-list>
</mat-sidenav>
