<mat-sidenav mode="side" opened>
  <mat-list class="w-100">
    <mat-list-item>
      <a mat-button routerLink="home"><mat-icon>home</mat-icon>Inicio</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-button routerLink="user"><mat-icon>person</mat-icon>Usuarios</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-button routerLink="category"><mat-icon>dashboard</mat-icon>Caterogias</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-button routerLink="client"><mat-icon>people</mat-icon>Clientes</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-button routerLink="product"><mat-icon>work</mat-icon>Productos</a>
    </mat-list-item>
  </mat-list>
</mat-sidenav>
