<div class="card mt-4 mx-4 ">
  <div class="card-body">
    <h2>Lista de usuarios</h2>
    <div class="container">
      <div class="row">
        <button class="mr-auto" mat-fab><mat-icon>add</mat-icon></button>
      </div>
    </div>

  </div>
</div>

<div class="container mt-4">

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="perfil">
        <th mat-header-cell *matHeaderCellDef> Perfil </th>
        <td mat-cell *matCellDef="let element"> {{element.perfil}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="ultimo_login">
        <th mat-header-cell *matHeaderCellDef> Ultimo login </th>
        <td mat-cell *matCellDef="let element"> {{element.ultimo_login}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha_creacion">
        <th mat-header-cell *matHeaderCellDef> Fecha creación </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha_creacion}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[2, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>



</div>





